@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    padding: 0;
}

body {
    font-family: roboto;
    min-height: 100vh;
    background-color: #1f2937;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

.headcontainer {
    /* color: #ffffff;
    background-color: #1F2937; */
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #e5e7eb;
}

.logo {
    /* change font color */
}

nav {
    /* change font color */
    display: flex;
    gap: 17px;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #a8a8a8;
    font-size: 15px;
}

.hero {
    /* Prob change the padding top */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.titletext {
    font-size: 18px;
    font-weight: 400;
}

.heroleft {
    width: 500px;
    color: #e5e7eb;
}

.herobutton {
    box-sizing: border-box;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: #3882F6;
    border: none;
    color: azure;
    font-weight: 900;
}

.heroright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #ffffff;
    padding: 20px;
    width: 500px;
}

.content {
    background-color: #ffffff;
    padding-bottom: 100px;
}

.contenttitle {
    /* probably change the margins */
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.bigbox {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentbox {
    width: 150px;
    height: 150px;
    border: 3px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.inspire {
    display: flex;
    align-items: center;
    justify-content: center;
    /* using margins */
    padding: 150px;
    margin-bottom: 150px;
    background-color: #e5e7eb;
}

em {
    font-weight: 200;
}

.cite {
    font-size: 22px;
    text-align: end;
}

.qoute {
    width: 600px;
    font-size: 36px;
}

.call2action {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #3882F6;
    padding: 22px;
    border-radius: 5px;
    margin-bottom: 50px;
    gap: 80px;
    color: #ffffff;
}

.cta {
    box-sizing: border-box;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: #3882F6;
    border: 2px solid #ffffff;
    font-weight: 900;
    color: azure;
}

.actionbold {
    font-weight: 900;
    font-size: 19px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color:  #a8a8a8;
}