/* @import soon */

* {
    margin: 0;
    padding: 0;
}

body {
    /* font family etc and probaly the backgrounf color*/
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

.headcontainer {
    /* color: #ffffff;
    background-color: #1F2937; */
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.logo {
    /* change font color */
}

nav {
    /* change font color */
    display: flex;
    gap: 17px;
    list-style: none;
}

a {
    text-decoration: none;
}

.hero {
    /* Prob change the margin top */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.titletext {
    font-size: 18px;
    font-weight: 400;
}

.heroleft {
    width: 500px;
}

.herobutton {
    box-sizing: border-box;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: #3882F6;
    border: none;
    color: azure;
    font-weight: 900;
}

.heroright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #ffffff;
    padding: 20px;
    width: 500px;
}

.contenttitle {
    /* probably change the margins */
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.bigbox {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentbox {
    width: 150px;
    height: 150px;
    border: 3px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.inspire {
    display: flex;
    align-items: center;
    justify-content: center;
    /* using margins */
    margin-top: 150px;
    margin-bottom: 150px;
}

.qoute {
    width: 600px;
    font-size: 36px;
}