/* @import soon */

* {
    margin: 0;
    padding: 0;
}

body {
    /* font family etc */
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* change font color */
}

nav {
    /* change font color */
    display: flex;
    gap: 17px;
    list-style: none;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.title {
    font-size: 28px;
    font-weight: 900;
}

.titletext {
    font-size: 16px;
    font-weight: 400;
}

.heroleft {
    width: 300px;
}

.herobutton {
    box-sizing: border-box;
    padding: 2px 10px;
    border-radius: 5px;
}